# Lab 4c: Querying Data using SQL

** Introduction **

In this lab,  you will learn to write [Structured Query Language (SQL)](https://www.w3schools.com/sql/), which is widely used for retrieve information from database. You will identify the key elements in querying data and understand how relational algebra and SQL can be related to each other. It gives you a sense of how theory can be applied to practice.

** Objective **

Learn how to filter records that satisfy a certain requirement based on several constraints. We will write several SQL queries to extract data. 

** Tasks **:
1. Write several SQL statements

** Note:** We have created a database with the student data in the previous lab (4.2).

To start with, IPython has a "magic" called [%sql](https://pypi.python.org/pypi/ipython-sql). This extension allows us to run SQL queries on a database without writing Python support code. To install this magic, run the following command in your Terminal:

`pip install ipython-sql`

The following two lines load this SQL extension and connect to your student database:

In [ ]:
%reload_ext sql
%sql sqlite:///student.db

** Example 1**: The following is an example of how the sql magic interface works. Jupyter Notebook interprets all cells beginning with "%%sql" as SQL commands.

This example selects and returns the all the rows from the students table.

In [ ]:
%%sql
SELECT * FROM students;

** Example 2** JOIN is one of the most common operators in SQL. Below is an example of JOIN: 

The example below finds the names of top students in each course. 

** Note: ** Following the name of each table by a short abbreviation the first it is used in a FROM or JOIN statement, as is done here, is a commonly used way to help keep your queries neat.

In [ ]:
%%sql
SELECT s.student, f.grade, c.name  
FROM fact_table f
    LEFT JOIN students s ON f.student_id = s.id
    LEFT JOIN courses c ON f.course_id = c.id
WHERE f.grade = 'a';

** Example 3 **
In SQLite using the `WHERE` clause is non-standard, but sometimes an easier way to create understandable queries.  But the way SQLite processes such queries is not as explicit as using the equivalent `JOIN` commands.  Below is the same query as in **Example 2**.

In [ ]:
%%sql
SELECT s.student, f.grade, c.name  
FROM fact_table f, students s, courses c 
WHERE f.student_id = s.id AND f.course_id = c.id AND f.grade = 'a'

##### Note:

To view more examples and in order to get familiar with the SQL syntax, we recommend looking at the following website:
    
https://www.w3schools.com/sql/sql_syntax.asp

It allows you to experiment with SQL commands on a live database that is more complicated than the student.db.  There is a SQL tutorial that is worth reviewing.

** TASK 1 **:  Find the number of courses in the instructors table.

In [ ]:
%%sql
-- ### BEGIN SOLUTION
SELECT COUNT(*) FROM courses;

** TASK 2 **: Find the name all graduate students.

In [ ]:
%%sql
-- ### BEGIN SOLUTION
SELECT s.student
FROM students AS S
WHERE degree='graduate';

** TASK 3 **: Find the average age of all students.

In [ ]:
%%sql
-- ### BEGIN SOLUTION
SELECT AVG(S.age)
FROM students AS S;

** TASK 4 **: Find the names of students enrolled in a course taught by Ugur.

In [ ]:
%%sql
-- ### BEGIN SOLUTION
SELECT S.student
FROM students s
JOIN fact_table f
JOIN courses c
ON s.id=f.student_id and c.id=f.course_id and c.instructor='ugur';

The second part of the lab is [here](https://medium.com/@lukezhu/data-1030-lab-4c-running-queries-on-google-cloud-d0a34f9c8162).