# Lab 4c: Querying Data using SQL

** Introduction **

In this lab,  you will learn to write [Structured Query Language (SQL)](https://www.w3schools.com/sql/), which is widely used for retrieve information from database. You will identify the key elements in querying data and understand how relational algebra and SQL can be related to each other. It gives you a sense of how theory can be applied to practice.

** Objective **

Learn how to filter records that satisfy a certain requirement based on several constraints. We will write several SQL queries to extract data. 

** Tasks **:
1. Write several SQL statements

** Note:** We have created a database with the student data in the previous lab (4.2).

To start with, IPython has a "magic" called [sql](https://pypi.python.org/pypi/ipython-sql). This extension allows us to run SQL queries on a database without writing Python support code. To install this magic, run the following command in your Terminal:

`pip install ipython-sql`

The following two lines load this SQL extension and connect to your student database:

In [ ]:
%reload_ext sql
%sql sqlite:///student.db

** Example 1**: The following is an example of how the sql magic interface works. Jupyter Notebook interprets all cells beginning with "%%sql" as SQL commands.

This example gets the id, name and degree of all students.

In [ ]:
%%sql
SELECT *
FROM students;

** Example 2** JOIN is one of the most common operators in SQL. Below is an example of JOIN: 

This example finds the names of instructors who teach the student of id 1.

In [ ]:
%%sql
SELECT c.name, student_id
FROM courses AS c
JOIN fact_table AS f
WHERE c.id=f.course_id AND f.student_id=1

##### Note:

To view more examples and in order to get familiar with the SQL syntax, we recommend looking at the following website:
    
https://www.w3schools.com/sql/sql_syntax.asp

** TASK 1 **:  Find the number of courses in the instructors table.

In [ ]:
# YOUR CODE HERE

** TASK 2 **: Find the name all graduate students.

In [ ]:
# YOUR CODE HERE

** TASK 3 **: Find the average age of all students.

In [ ]:
# YOUR CODE HERE

** TASK 4 **: Find the names of students enrolled in a course taught by Ugur.

In [ ]:
# YOUR CODE HERE

The second part of the lab is [here](https://medium.com/@lukezhu/data-1030-lab-4c-running-queries-on-google-cloud-d0a34f9c8162).